#swiper-color .swiper-button-prev {
  size: small;
  color: grey;
}

#swiper-color .swiper-button-next {
  size: small;
  color: grey;
}

#swiper-color .swiper-pagination-bullet-active {
  background-color: grey;
}
